* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 60px;
}

#trybewarts-header-title {
  color: white;
}

body {
  background-image: url('images/hogwarts4.jpg');
  background-position: center;
  background-size: 110%;
}

body input {
  opacity: 0.8;
}

header form {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

header form input {
  margin-right: 5px;
}

#email {
  width: 200px;
  height: 35px;
}

#password {
  width: 200px;
  height: 35px;
}

main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  background-color: rgba(256, 256, 256, 0.5);
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: center;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#input-name {
  width: 320px;
  height: 35px;
}

#input-lastname {
  width: 320px;
  height: 35px;
}

#input-email {
  width: 320px;
  height: 35px;
}

.house-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#house {
  width: 320px;
  height: 35px;
  opacity: 0.8;
}

.family-container input {
  border: solid 1px black;
  margin-right: 3px;
}

.subject-content {
  display: flex;
  justify-content: space-between;
  margin-right: 193px;
}

.rate-container label {
  margin-right: 15px;
  margin-top: 10px;
}

.rate-container input {
  border: solid 1px black;
  margin-right: 5px;
  margin-bottom: 10px;
}

#textarea {
  resize: none;
  width: 100%;
  opacity: 0.7;
}

#counter {
  position: relative;
  bottom: 28px;
  left: 95.5%;
}

.agreement-container {
  margin-top: -20px;
}

#form-data {
  display: none;
}

footer {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}
